# Системні файли ОС
.DS_Store
Thumbs.db
desktop.ini


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


**/bin/
**/obj/
**/[Bb]in/
**/[Oo]bj/


*.dll
*.exe
*.pdb
*.cache
*.ilk
*.obj
*.exe.config


*.log